body {
  font-family: "Permanent Marker";
}

.title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;

  font-size: 30pt;
  color: rgb(230, 253, 23);
  background-color: rgb(184, 47, 47);

  padding-left: 10px;
}

#poke-list {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;

  color: royalblue;
}

.poke-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 50%;

  margin: 20px;
  border: solid black 2px;
  padding-left: 20px;
  padding-right: 20px;
}

.remove-button {
  height: 30pt;
}
