.TodoList {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  list-style: none;
  padding: 0px;
}

.TodoListTitle {
  margin-top: 30px;

  font-size: 22px;
  font-weight: bold;
}

.ShowFiltersButton {
  border: none;
  background-color: white;
  margin-top: 10px;

  color: #eb4034;
  font-size: 18px;
  font-family: "Ubuntu";
}

.FilterList {
  display: felx;
  flex-flow: row nowrap;
  margin-top: 10px;
  margin-bottom: 10px;
}

.FilterButton {
  border: none;
  background-color: white;

  font-size: 18px;
  font-family: "Ubuntu";
}

.TodoItem {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  width: 400px;
}
