.TodoEditor {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.AddTodoButton {
  border: none;
  margin-top: 20px;

  background-color: white;
  color: #eb4034;
  font-size: 19px;
  font-weight: bold;
}

.NewTodoForm {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 20px;
}

.NewTodoInput {
  border: none;
  border-bottom: 2px solid #eb4034;

  width: 350px;

  font-size: 16px;
}

.NewTodoButton {
  border: none;
  margin-left: 10px;

  background-color: white;
  font-weight: bold;

  font-size: 16px;
  color: #eb4034;
}

.TodoList {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  list-style: none;
  padding: 0px;
}

.TodoListTitle {
  margin-top: 30px;

  font-size: 22px;
  font-weight: bold;
}

.ShowFiltersButton {
  border: none;
  background-color: white;
  margin-top: 10px;

  color: #eb4034;
  font-size: 18px;
  font-family: "Ubuntu";
}

.FilterList {
  display: felx;
  flex-flow: row nowrap;
  margin-top: 10px;
  margin-bottom: 10px;
}

.FilterButton {
  border: none;
  background-color: white;

  font-size: 18px;
  font-family: "Ubuntu";
}

.TodoItem {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  width: 400px;
}
